body{

    margin: 0;
}
header{
    background-color: #dddddd;
    height: 50px;
}
header p{
    padding-top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.title{
    padding: 0 5%;
}
p{
    margin: 0;
}

.form{
    text-align: center;
    width:auto;
    margin: 200px auto 0 auto;
}

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }
  .button-box p{
      cursor:pointer;
  }
  .top-wrapper{
      text-align: center;
      margin-top: 20px;

  }
.top-wrapper p{
    font-size: 40px;
    font-weight: 600;
    color: rgb(106, 106, 206);
}

.character{
    margin : 10px 0;
}