body{

    margin: 0;
}
header{
    background-color: #dddddd;
    height: 50px;
}
header p{
    padding-top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.title{
    padding: 0 5%;
}
p{
    margin: 0;
}

.form{
    text-align: center;
    width:auto;
    margin: 200px auto 0 auto;
}

.btn-sf-like {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    background: #00bcd4;
    border-top: solid 3px #00a3d4;
    border-bottom: solid 3px #00a3d4;
    transition: .4s;
  }
  
  .btn-sf-like:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
                 6px 0px 15px rgba(255, 255, 240, 0.83);
  }
  a{
      cursor:pointer;
  }