body{

    margin: 0;
}
header{
    background-color: #dddddd;
    height: 50px;
}
header p{
    padding-top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.title{
    padding: 0 5%;
}
p{
    margin: 0;
}
img{
    width:100%;
}


