body{
    background-color:rgb(224, 224, 224);
    margin: 0;
}
header{
    background-color: #dddddd;
    height: 50px;
}
header p{
    color: white;
    font-size: 24px;
    font-weight: 600;
}
p{
    margin: 0;
}
main{
    background-color: white;
}
.box01{
    width: 30%;
    margin:0 auto;
}
.main01-container{

}



.text-02{
    display:none;
}