body{
    background-color:rgb(224, 224, 224);
    margin: 0;
}
header{
    background-color: #dddddd;
    height: 50px;
}
header p{
    padding-top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.title{
    padding: 0 5%;
}
p{
    margin: 0;
}
main{
    background-color: white;
    height: 700px;
    
}
.box01{
    width: 30%;
    margin:0 auto;
}
.main01-container{
    padding-top : 100px;
}


#text-js{
    display:none;
}
#text-html{
    padding: auto 0;
    text-align: center;
    border-radius : 20px;
    cursor: pointer;
    height: 100px;
    width: 300px;
    background-color: #9cc7e4
}
#hello,html{
    padding: auto 0;
}