body{
    background-color:rgb(224, 224, 224);
    margin: 0;
}
header{
    background-color: #444444;
    height: 150px;
}
.title p{
    margin: 0;
}
main{
    background-color: white;
}
.box01{
    width: 30%;
    margin:0 auto;
}
.main01-container{

}